global
    log stdout format raw local0
    stats socket /var/run/haproxy/admin.sock mode 666 level admin expose-fd listeners

defaults
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend mysql_front
    bind *:3307
    default_backend mysql_back

backend mysql_back
    mode tcp
    balance source
    option tcp-check
    server mysql1 mysql1:3306 check
    server mysql2 mysql2:3306 check backup
    # server mysql3 mysql3:3306 check # role=Master-Master gtid=on

listen stats
    mode http
    bind *:8405
    stats enable    
    stats uri /stats
    stats refresh 10s
